# Stargate Wars runtime configuration
SGW_TITLE=Pegus Galaxy
SGW_SUBTITLE=The place to get your war on!
SGW_ADMIN_EMAIL=admin@example.com

# Database connection
SGW_DB_HOST=localhost
SGW_DB_NAME=sgw
SGW_DB_USER=sgw
SGW_DB_PASS=sgwpass
